.week-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid $borderColor;
  border-bottom: none;
  box-sizing: border-box;
  &.list {
    display: none;
  }
}

.week-wrapper__weekday {
  flex-grow: 1;
  text-align: center;
  padding: 5px 0;
  color: $fontColor;
  font-weight: 700;
  font-size: $s-size;
  line-height: 30px;
}
