* {
  outline: 1px solid #f00;
}

body {
  font-family: Verdana, Arial, "\5FAE\8EDF\6B63\9ED1\9AD4", Microsoft JhengHei,
    "\5FAE\8EDF\96C5\9ED1\9AD4", Microsoft YaHei;
}

#calendar {
  width: 50%;
  margin: 60px auto 0;
}
