// Colors
$tabWrapperBg: #ede9dd;
$fontColor: #666;
$tabBtn: #e10500;
$noSchedule: #24a07c;
$borderColor: #f4f4f4;
$guaranteedColor: #fe8400;
$priceColor: #e10500;
$hasChance: #24a07c;
$noChance: #ff7800;
$noDataItem: #f8f8f8;
$listGuranteed: #ff9600;

// Font Size
$xs-size: 12px;
$s-size: 14px;
$m-size: 16px;
$l-size: 24px;
